aiofiles==24.1.0
aiohttp==3.9.1
aioredis==2.0.1
aiosignal==1.3.2
anyio==4.9.0
astroid==3.0.3
async-timeout==5.0.1
attrs==25.3.0
backoff==2.2.1
bidict==0.23.1
black==24.1.1
blinker==1.9.0
Brotli==1.1.0
cachetools==6.0.0
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
contourpy==1.3.2
coverage==7.8.2
cryptography==42.0.2
cssselect2==0.8.0
cycler==0.12.1
dill==0.4.0
distro==1.9.0
fakeredis==2.29.0
fastapi==0.115.12
flasgger==0.9.7.1
Flask==3.0.0
Flask-SocketIO==5.3.6
fonttools==4.58.1
frozenlist==1.6.2
-e git+ssh://git@github.com/ZachLark/GitBridgev1.git@f1105346dbdf8430c30309839e3231c4fcacbcb5#egg=gitbridge
h11==0.14.0
httpcore==0.16.3
httpx==0.24.1
hypothesis==6.98.0
idna==3.10
iniconfig==2.1.0
isort==5.13.2
itsdangerous==2.2.0
Jinja2==3.1.6
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
kiwisolver==1.4.8
Markdown==3.5.1
MarkupSafe==3.0.2
matplotlib==3.10.3
mccabe==0.7.0
mdx-truly-sane-lists==1.3
mistune==3.1.3
multidict==6.4.4
mypy==1.8.0
mypy_extensions==1.1.0
numpy==2.3.0
openai==1.12.0
orjson==3.10.18
packaging==25.0
pathspec==0.12.1
pillow==11.2.1
platformdirs==4.3.8
pluggy==1.6.0
prometheus-client==0.19.0
propcache==0.3.1
psutil==5.9.8
pycparser==2.22
pydantic==1.10.12
pydyf==0.11.0
PyJWT==2.8.0
pylint==3.0.3
pyparsing==3.2.3
pyphen==0.17.2
pytest==8.0.0
pytest-asyncio==0.23.5
pytest-cov==4.1.0
pytest-mock==3.12.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-engineio==4.12.2
python-json-logger==2.0.7
python-socketio==5.13.0
pytz==2024.1
PyYAML==6.0.2
redis==5.0.1
referencing==0.36.2
requests==2.31.0
responses==0.25.7
rpds-py==0.25.1
setuptools==80.9.0
simple-websocket==1.1.0
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
starlette==0.46.2
statsd==4.0.1
tinycss2==1.4.0
tinyhtml5==2.0.0
tomlkit==0.13.3
tqdm==4.66.1
typing_extensions==4.14.0
urllib3==2.4.0
weasyprint==65.1
webencodings==0.5.1
websockets==12.0
Werkzeug==3.1.3
wsproto==1.2.0
yarl==1.20.0
zopfli==0.2.3.post1
